name: My First CI Pipeline

on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Test CI
        run: echo "CI pipeline is running successfully! "
